* {background-color: #4ab6aa;

}

h1 {
    text-align: center;
    align-content: center;
    color: black;
}
img {
    width: 250px;
}

.nombre {
    font-size: 30px;
}

a { 
    text-decoration: cornflowerblue;
}