* {

    background-image: url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80); 

    background-repeat: no-repeat;
    
    
}


.tarjeta {
    /* border: black solid 2px;
    background-color: slateblue; */
    width: 600px;
    height: 700px;
    margin-top: 50px;
    margin-left: 50px;

}

.none{
    display: none;
}

.my-container{
    /* border: black 3px solid; */
   
    height: 100%;
    width: 100%;
}

.my-row{
    border: white;
  }
  
  .my-col{
      border: rgb(133, 8, 4) 3px solid;
    
  }